.search-box {
    /* -webkit-appearance: none; */
    border: none;
    outline: none;
    padding: 10px;
    width: 100%;
    line-height: 30px;
    margin-bottom: 30px;
    display: flex;
    flex-direction: row;
    gap: 10px;
    justify-content: center;
}

.form{
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.select_filters{
    cursor: pointer;
    text-align: center;
    margin-top: 4px;
    margin-left: 2px;
    font-size: 17px;
    border-radius: 5px;
}